################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
.vs/FileTracker/v15/Server/sqlite3/storage.ide-wal
.vs/FileTracker/v15/.suo
.vs/FileTracker/v15/Server/sqlite3/storage.ide
.vs/FileTracker/v15/Server/sqlite3/storage.ide-shm
